<% for column in Answer.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @answer.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @answer %> |
<%= link_to 'Back', :action => 'list' %>
