<h1>New Headline</h1>

<%= start_form_tag :action => 'create' %>
  <%= render_partial "form" %>
  <input type="hidden" name="returnurl" value="<%=@returnurl%>"%>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
