<html>
<head><title>Editing GeekSpeak: <%= controller.controller_name %>, <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'edit' %>
  <%= stylesheet_link_tag 'nav' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'list' %>
  <%= javascript_include_tag :defaults %> 
  <!--%= javascript_include_tag "prototype", "scriptaculous", "rico.js", "edit_gs" %-->
  <%= javascript_include_tag "rico.js" %>
  <%= javascript_include_tag "edit_gs" %>
  </head>

<% if controller.action_name == "index" 
    eAction = "list"
   else 
    eAction = controller.action_name
   end
%>
<body class="<%= controller.controller_name %> <%= eAction %>">
<div id="feedback" style="display:none;"><%= flash[:notice] %></div>
<div id="divNav">
<%= render_partial "layouts/navigation" %>
</div>

<div id="divUser"><%= render_partial "layouts/user", @user %>
</div>

<div id="mainContent">
<div id="content">

<div class="notice"><%= flash['notice'] %></div>

<%= @content_for_layout %>
</div>
</div>


<script>
<% if flash[:notice] %>
	<%= visual_effect :appear, "feedback", :duration => 0.2 %>
	<%= visual_effect :fade, 'feedback',:delay => 5.0, :duration => 2.0 %>
<% end %>
</script>
</body>
</html>
